body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	color: #282B30;
	background: #EEEEEE;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

.qContainer {
	margin-left: 150px;
	margin-right: 150px;
}

@import 'sprite/sprite';
@import 'common/**/*.scss';
@import 'module/**/*.scss';
@import 'blocks/**/*.scss';
