.bannerIndex
	.banner_items
		each item in [1, 2, 3, 4]
			.bannerIndex__item
				img.bannerIndex__img(src="assets/img/banner.png" alt="")
				.bannerIndex__bg
				.bannerIndexCont
					.bannerIndexCont__col
						.bannerIndexContInfo
							.bannerIndexCont__title WALDIS
							.bannerIndexCont__title_2 Швейцарское качество по приемлемой цене
							.bannerIndexCont__text WALDIS Tresore AG – крупнейший в Швейцарии производитель сейфов для дома и офиса. Компания  уже более 30 лет создает в Цюрихе уникальные сейфы.
							a.bannerIndexCont__link(href="#") Перейти в каталог
					.bannerIndexCont__col
						.bannerIndexItem
							.bannerIndexItem__col
								.bannerIndexImg
									img.bannerIndexImg__img(src="assets/img/banner_item.png" alt="")
							.bannerIndexItem__col
								.bannerIndexItemProp
									.bannerIndexItemProp__name WA-F-1000
									.bannerIndexItemPropWrap
										.bannerIndexItemPropWrap__row
											.bannerIndexItemPropWrap__col Вес
											.bannerIndexItemPropWrap__col 585 кг
										.bannerIndexItemPropWrap__row
											.bannerIndexItemPropWrap__col Размеры
											.bannerIndexItemPropWrap__col 1000/640/520 мм
										.bannerIndexItemPropWrap__row
											.bannerIndexItemPropWrap__col Объем
											.bannerIndexItemPropWrap__col 130 л
										.bannerIndexItemPropWrap__row
											.bannerIndexItemPropWrap__col Тип замка
											.bannerIndexItemPropWrap__col электронный Paxos
										.bannerIndexItemPropWrap__row
											.bannerIndexItemPropWrap__col Огнестойкость
											.bannerIndexItemPropWrap__col S60P
								.bannerIndexProp
									a.bannerIndexProp__link(href="#") Особенности
	.bannerArrows