.companySubscribe
	.companySubscribe__col
		.companyIndex
			.companyIndex__title О компании
			.companyIndexWrap
				.companyIndexWrap__col
					.companyIndexWrap__text
						p Предлагаем Вашему вниманию широкий выбор сейфов от лучших мировых производителей.
						p У нас вы можете купить сейф и сейфовое оборудование любого класса взломостойкости,
							| с индивидуальной отделкой и комплектацией. Среди них представлены бронированные
							| окна и двери, сейфовые комнаты, аптечки, почтовые ящики, ключницы, шкатулки для
							| часов и многое другое.
						p Выбирайте и покупайте в компании «Мир сейфов»!
				.companyIndexWrap__col
					.companyIndexInfo
						.companyIndexInfo__row
							.companyIndexInfo__count 23
							.companyIndexInfo__text лет успешной работы
						.companyIndexInfo__row
							.companyIndexInfo__count > 1000
							.companyIndexInfo__text моделей в наличии
	.companySubscribe__col
		.subscribeIndex__bg
		.subscribeIndex
			.subscribeIndex__row
				.subscribeIndex__info Хотите узнавать об акциях и скидках?
			.subscribeIndex__row
				.subscribeIndex__title Подпишитесь на наши новости
			.subscribeIndex__row
				.subscribeIndexInput
					input.subscribeIndex__text(type="text" name="subscribe-index" placeholder="Ваш email")
			.subscribeIndex__row
				form.subscribeIndexControl__form(action="")
					.subscribeIndexControl
						.subscribeIndexControl__col
							label(for="policy-subscribe")
								.subscribeIndexPolicy
									.subscribeIndexPolicy__col
										.subscribeIndexPolicyCheckbox
											input.subscribeIndexPolicyCheckbox__input(type="checkbox" id="policy-subscribe" name="policy-subscribe")
											.subscribeIndexPolicyCheckbox__style
									.subscribeIndexPolicy__col
										.subscribeIndexPolicyCheckbox__text Я согласен с политикой<br>конфиденциальности
						.subscribeIndexControl__col
							button.subscribeIndex_btn Подписаться