.lineInfo
	.lineInfo__col
	.lineInfo__col
		.lineInfoWrap
			.lineInfoWrap__row
				.lineInfoWrap__title #[span 2] крупнейших шоу-рума
			.lineInfoWrap__row
				ul.lineInfoWrap__items
					li.lineInfoWrap__item
						a.lineInfoWrap__link(href="#") - В Москве
					li.lineInfoWrap__item
						a.lineInfoWrap__link(href="#") - В Санкт-Петербурге
			.lineInfoWrap__row
				.lineInfoWrap__text
					| Идейные соображения высшего порядка, а также начало повседневной работы
					| по формированию позиции позволяет оценить значение модели развития
