.recIndex
	.qContainer
		.recIndex__title Рекомендованные
		.recIndex__items
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-1.png" alt="")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Dottling LIBERTY BARCELONA
							.recIndexInfoTB__col
								ul.recIndexInfoTB__items
									li.recIndexInfoTB__item.icon_fire Огнестойкий
									li.recIndexInfoTB__item.icon_castel Взломостойкий
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Stockinger HYAS
							.recIndexInfoTB__col
								ul.recIndexInfoTB__items
									li.recIndexInfoTB__item.icon_fire Огнестойкий
									li.recIndexInfoTB__item.icon_castel Взломостойкий
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-2.png" alt="")
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-3.png" alt="")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Dottling LIBERTY-1
							.recIndexInfoTB__col
								ul.recIndexInfoTB__items
									li.recIndexInfoTB__item.icon_diamond Для ювелирных украшений
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-4.png" alt="")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Boca Do<br>Lobo DIAMOND
							.recIndexInfoTB__col
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-5.png" alt="")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Boca Do Lobo<br>KNOX Watch Winder
			a.recIndex__item(href="#")
				.recIndex__row
					.recIndexInfo
						.recIndexInfo__title Сейф
						.recIndexInfoTB
							.recIndexInfoTB__col.recIndexInfoTB__name Armando G<br>Ursus-L III leather
							.recIndexInfoTB__col
								ul.recIndexInfoTB__items
									li.recIndexInfoTB__item.icon_fire Огнестойкий
									li.recIndexInfoTB__item.icon_castel Взломостойкий
				.recIndex__row
					.recIndexImg
						img.recIndex__img(src="assets/img/index/rec-6.png" alt="")