.footer {
	background: #24272A;
	padding: 30px 0 20px 0;
}

.footerWrap {
	display: flex;
}

.footer__col {

	&:nth-child(1) {
		width: 35%;
	}

	&:nth-child(2) {
		width: 16.25%;
	}

	&:nth-child(3) {
		width: 16.25%;
	}

	&:nth-child(4) {
		width: 16.25%;
	}

	&:nth-child(5) {
		width: 16.25%;
	}
}

.footerLogo {
	margin-bottom: 39px;
}

.footerLogo__link {
	display: block;
}

.footerLogo__img {
	vertical-align: middle;
}

.footer__copy {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #C3C7CD;
}

.footerSmo {
	list-style-type: none;
	margin: 0 0 45px -10px;
	padding: 0;
	display: flex;
}

.footerSmo__item {
	margin-left: 10px;
}

.footerSmo__link {
	display: flex;
	background: #3A4046;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
}

.footerAddress__title, .footerMenu__title {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 32px;
	color: #FFFFFF;
}

.footerAddress__items {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #C3C7CD;
	margin-bottom: 23px;
}

.footerMenu__items {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footerMenu__item {

}

.footerMenu__link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	text-decoration-line: underline;
	display: block;
	color: #C3C7CD;
}


























