.menuHor {
	display: flex;
	align-items: center;
	height: 55px;
	position: relative;
}

.menuHor_col {

	&:first-child {
		width: 100%;
	}

	&:last-child {
		width: 106px;
		position: relative;
		text-align: center;

		&:before {
			position: absolute;
			left: 0;
			display: block;
			content: '';
			width: 1px;
			height: 35px;
			background-color: #53575F;
		}
	}
}

.menuHor__items {
	list-style-type: none;
	margin: 0 0 0 60px;
	padding: 0;
	display: flex;
	align-items: center;
}

.menuHor__item {
	&:not(:first-child) {
		margin-left: 75px;
	}

	&:hover {

		& .menuHor__link {
			&:after {
				display: block;
			}

			& + .menuHorSub {
				display: flex;
			}
		}

	}
}

.menuHor__link {
	font-size: 14px;
	text-decoration: none;
	color: #C3C7CD;
	height: 55px;
	line-height: 55px;
	display: flex;
	align-content: center;
	position: relative;

	&:after {
		display: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		content: '';
		width: 14px;
		height: 5px;
		background-image: url("../img/menu-hover-active.png");
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}

.headerCart {
	position: relative;
	top: 7px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}

.headerCart__count {
	position: absolute;
	top: -8px;
	right: -16px;
	background: #5E98AA;
	border-radius: 4px;
	width: 25px;
	height: 16px;
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuHorSub {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background-color: #2E3136;
	padding-bottom: 36px;
	border-top: 2px solid #5E98AA;
	padding-top: 25px;
}


.menuHorSubWrap {
	margin-left: 50px;
}

.menuHorSub__title {
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 10px;
	padding: 0;
}

.menuHorSub__col {
	width: 35%;
	position: relative;

	&:nth-child(2) {
		width: 30%;
		max-width: 380px;
	}

	&:not(:first-child) {

		&:before {
			position: absolute;
			left: 0;
			top: 2px;
			content: '';
			width: 1px;
			height: calc(100% - 48px);
			display: block;
			background-color: #42464D;
		}
	}
}

.menuHorSubItems {
	list-style-type: none;
	margin: 0 30px 0 0;
	padding: 0;
	float: left;
}

.menuHorSubItems__link {
	font-size: 14px;
	line-height: 34px;
	color: #C3C7CD;
	text-decoration: none;

	&.blue {
		color: #5e98aa;
	}

	&:hover {
		text-decoration: underline;
		color: #f0f0f0;
	}
}

.menuHorSubWrap {
	display: flex;
}

.menuHorSubWrap__col {

	&:nth-child(2) {

	}
}

.menuHorSubWrap__line {
	margin: 13px 50px;
	height: 1px;
	background-color: #42464D;
}

























