extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../module/index/catalog
  include ../module/index/rec
  include ../module/index/lineInfo
  include ../module/index/news_smo
  include ../module/index/companySubscribe